body{
    margin-left: 20px;
    background-color: rgb(249, 241, 230);
}
.chats{
    background-color: antiquewhite;
    border-radius: 5px ;
    padding: 10px;
    display: inline-block;
    padding: 20px 50px;
}

.msg{
    background-color: #efaa50;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
}

.mug {
    font-size: 1.8em;
    margin-left: 6px;
}
.btn{
    padding: 20px;
    background-color: rgb(255, 165, 30);
    color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}
.msgform{
    padding: 20px;
    text-align: center;
}
input{
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #efaa50;
    margin-bottom: 20px;
    font-size: larger;
    font-style: italic;
    background-color: antiquewhite;
}

textarea{
    height: 15em;
    width: 16em;
    border: 3px solid #efaa50;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: larger;
    background-color: antiquewhite;
}
.time{
    text-align: end;
}

.edit{
    padding: 10px;
    background-color: white;
    color: red;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}