body{
    margin-left: 20px;
}
.chats{
    background-color: antiquewhite;
    border-radius: 5px ;
    padding: 10px;
    display: inline-block;
    padding: 20px 50px;
}

.msg{
    background-color: rgb(239, 170, 80);
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
}

.mug {
    font-size: 1.8em;
    margin-left: 6px;
}